* {
  margin: 0;
  padding: 0;
}

body {
  background: lightgrey;
  font-family: 'Futura', sans-serif;
}

input,
textarea,
button {
  display: block;
  border: none;
  padding: 5px;
}

h3 {
  font-size: 11px;
  letter-spacing: 0.1em;
}