* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Futura', sans-serif;
  background: linear-gradient(@dark-gray-1, @dark-gray-2);
}

input,
textarea,
button {
  display: block;
  border: none;
  padding: 5px;
}

h3 {
  font-size: 11px;
  letter-spacing: 0.1em;
}

main {
  position: relative;
  min-height: 100vh;
}