.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;

  background-color: @light-gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  padding: 10px;

  .room-list {

    .room {
      background-color: @white;
      padding: 5px;
      margin: 5px 0;
      cursor: pointer;
    }
  }
}