.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;

  .room-list {
    .room {
      border: 1px solid gray;
      padding: 5px;
      margin: 5px 0;
      cursor: pointer;
    }
  }
}