.menu .queue-view {
  height: calc(100% - 168px);

  .room-queue {
    max-height: 100%;
    overflow: scroll;
    margin-top: 10px;
  }
}

.menu .search-view {
  .search-input {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
  }

  .search-results {
    height: 70vh; //todo: better calc when we figure out the rest of the UI
    overflow: scroll;
  }

  .search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0,0,0,0.2);
    margin-bottom: 5px;
    padding: 10px 10px 10px 0;
  }

  .song-button {
    color: white;
    font-size: 16px;
    max-width: 50px;

    .button-requested {
      padding: 0px 20px;
      opacity: 1.0;
    }

    .button-check {
      padding: 0px 20px;
      opacity: 1.0;
    }
    .button-plus {
      cursor: pointer;
      opacity: 0.5;
      padding: 0px 20px;
    }
  }


}