.room {
  position: absolute;
  top: 0;
  left: 0;
  width: @room-width;
  height: 100%;

  .room-name {
    font-size: 8vw;
    color: @white;
    opacity: 0.05;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 0.9em;
    max-height: 12vw;
  }

  .djs-wrapper {
    position: relative;
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .djs {
    position: relative;
    display: inline-block;

    .user {
      margin-bottom: 60px;

      .emoji {
        font-size: 46px;
      }

      .info {
        display: block;
        color: @blue;
      }
    }

    .speaker {
      position: absolute;
      width: 120px;
      height: 200px;
      background-color: @medium-gray;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: @dark-gray-1;
        border: 10px solid @dark-gray-2;
        box-sizing: border-box;
      }

      &::after {
        transform: translate3d(0, -60%, 0);
      }

      &::before {
        transform: translate3d(0, 60%, 0);
      }

      &.left {
        top: 50%;
        left: 0;
        transform: translate3d(-110%, -50%, 0);
      }

      &.right {
        top: 50%;
        right: 0;
        transform: translate3d(110%, -50%, 0);
      }
    }
  }

  .current-song {
    position: absolute;
    color: @white;
    z-index: 1;
    text-align: center;
    margin-top: 50px;

    .song-name,
    .song-artist,
    .song-position {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .song-artist {
      font-size: 10px;
      opacity: 0.4;
    }

    .song-position {
      font-size: 9px;
    }
  }

  .fans {
    text-align: center;
  }

  .user {
    display: inline-block;
    text-align: center;
    margin: 0 5px;

    .emoji {
      font-size: 36px;
    }

    .info {
      color: @pink;
      font-size: 8px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }
}