.song-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .row {
    color: @half-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 9px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 3px;

    .title {
      font-size: 11px;
      margin-right: 10px;
    }

    &.bright {
      color: #FFFFFF;
    }
  }
}