// COLORS
@white: #FFF;
@light-gray: #F1F1F1;
@half-white: rgba(255, 255, 255, 0.5);
@medium-gray: #242424;
@dark-gray-1: #090909;
@dark-gray-2: #201C1C;
@pink: #FF00C3;
@blue: #0089FF;
@purple: #6d00ff;
@green: #79c12a;
@red: #b70000;

// WIDTHS:
@menu-width: 350px;
@room-width: calc(~'100% - @{menu-width}');